@page
@model wentylator.Pages.FanControl.FanControlIndexModel
@{
    ViewData["Title"] = "Sterowanie Wentylatorem";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/fan.css" />
</head>
<body>
    <h1>Sterowanie Wentylatorem</h1>

    <div class="container">
        <div>
            <p>Stan wentylatora: @(Model.IsFanOn ? "Włączony" : "Wyłączony")</p>
            <form method="post">
                <button name="action" value="toggle" class="btn btn-primary">Przełącz Wentylator</button>
            </form>
        </div>
        @if (Model.IsFanOn)
        {
            <div class="fan-icon"></div>
        }
        else
        {
            <p>Wiatrak jest wyłączony</p>
        }
    </div>


</body>
</html>

