@page
@model wentylator.Pages.FanControl.FanControlIndexModel
@{
    ViewData["Title"] = "Sterowanie Wentylatorem";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/fan.css" />
</head>
<body>
    <h1>Sterowanie Wentylatorem</h1>

    <div class="container">
        <div>
            <p>Stan wentylatora: @(Model.IsFanOn ? "Włączony" : "Wyłączony")</p>
            <form method="post">
                <button type="submit" class="btn btn-primary" asp-page-handler="TurnFanOn">Turn Fan On</button>
                <button type="submit" class="btn btn-primary" asp-page-handler="TurnFanOff">Turn Fan Off</button>
            </form>
        </div>
        <div class="@(Model.IsFanOn ? "fan-icon rotate" : "fan-icon")"></div>
    </div>
    <div class="container">
        <div>
            <p>Tryb Automatyczny jest: @(Model.IsAutoOn ? "włączony" : "wyłączony")</p>
            <form method="post">
                <button type="submit" class="btn btn-primary" asp-page-handler="TurnFanOn">Turn Auto Mode</button>
            </form>
        </div>
    </div>
</body>
</html>

