@page
@model wentylator.Pages.FanSettings.FanSettingsModel
@{
    ViewData["Title"] = "Admin Panel";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Ustawienia wentylatora</h1>

    <div>
        <form method="post" asp-page-handler="GetCurrentSensorIp">
            <div class="form-group">
                <label for="sensorIp">IP wentylatora:</label>
                <p>@Model.SensorIp</p>
            </div>
            <button type="submit" class="btn btn-primary">Sprawdź</button>
        </form>
    </div>

}
