@page
@model wentylator.Pages.FanSettings.FanSettingsModel
@{
    ViewData["Title"] = "Admin Panel";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Adres IP wentylatora</h1>

    <div>
        <form method="post">
            <div class="form-group">
                <label for="sensorIp">IP wentylatora:</label>
                <input type="text" class="form-control" id="sensorIp" name="SensorIp" value="@Model.SensorIp" />
            </div>
            <button type="submit" class="btn btn-primary">Sprawdź</button>
        </form>
    </div>

    @if (Model.IsDeviceAvailable.HasValue)
    {
        <div class="alert @(Model.IsDeviceAvailable.Value ? "alert-success" : "alert-danger") mt-3">
            @if (Model.IsDeviceAvailable.Value)
            {
                <p>Urządzenie jest dostępne pod adresem IP @Model.SensorIp.</p>
            }
            else
            {
                <p>Urządzenie jest niedostępne pod adresem IP @Model.SensorIp.</p>
            }
        </div>
    }
}


