@page
@model wentylator.Pages.FanSettings.FanSettingsModel
@{
    ViewData["Title"] = "Admin Panel";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Adres IP wentylatora</h1>

    <div>
        <form method="post" asp-page-handler="GetCurrentSensorIp">
            <div class="form-group">
                <label for="sensorIp">IP wentylatora:</label>
                <p id="sensorIp" class="form-control-static">@Model.SensorIp</p>
            </div>
            <button type="submit" class="btn btn-primary">Sprawdź</button>
        </form>
    </div>

    @if (Model.IsDeviceAvailable.HasValue)
    {
        if (Model.IsDeviceAvailable.Value)
        {
            <div class="alert alert-success mt-3">Urządzenie jest dostępne pod adresem @Model.SensorIp</div>
        }
        else
        {
            <div class="alert alert-danger mt-3">Urządzenie jest niedostępne pod adresem @Model.SensorIp</div>
        }
    }
}
